<!DOCTYPE html>

<html>
    <head>
        <title>Jacob's Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Grenze+Gotisch:wght@100&display=swap" rel="stylesheet"> 
        <link href="styles.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Jacob Garby's Homepage</h1>

        <div class="socials">
            <a href="https://github.com/j4cobgarby">GitHub</a>
            <a href="mailto:j4cobgarby@gmail.com">Email</a>
        </div>
        
        <p class="about">

                <img src="images/me.png" class="me" alt="Picture of me giving a talk about C's 50 year anniversary."/>

            Hi, welcome to my website! I'm a third-year computer science student
            at the University of Nottingham, where I'm also on the committee of 
            <a href="https://hacksocnotts.co.uk/">HackSoc</a>, where I run some
            talks and workshops.
        </p>
        <p class="about">
            My main interests within computer science are processor architecture,
            operating systems, embedded systems, and computer graphics. Outside
            of computer science I have many other interests, including designing
            circuits, CNC machining, playing guitar and double bass, and drinking
            tea.
        </p>
        <p class="about">
            In the following blog, I'll talk about whatever projects I'm currently
            working on. If you want to ask me about anything I've written here, or
            anything else, <a href="mailto:j4cobgarby@gmail.com">email me</a>, or
            add me on Discord (Jacob Garby#6080).
        </p>
        <div class="blog">

            {% for file_name in file_list %}
                <div class="blog-post">
                    <h2>{{file_name[0].split(".html")[0]}}</h2>
                    <h4>{{file_name[1]}}</h4>
                    {% include "posts/" + file_name[0] %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>